/* 
    Created on : 18/02/2018, 12:34:18
    Author     : ALEXWALLACEARAUJODES
    Version 0.1
*/
* {
    margin: 0px;
    padding: 0px;
}

/* ********** Layout ********** */

html, body {

    height: 100%;

}
body {
    background: url('') no-repeat, linear-gradient(50deg,#ff1100, #7c2908); 
    background-size: 100%;
    border: 2px solid yellow;
}
#geral{
/*   background: blanchedalmond; */
    border: 4px solid rosybrown;
    height: 100%;
    overflow: auto;
}
.container {
    border: 4px solid salmon;
}
.menu {
    float: left;
   
    width: 100%;
}





/* ********** Barra de navegação ********** */
.logo {
    padding-top: 10px;
    color: white;
    display: block;
}

nav.navbar-transparente {
   
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6) /* Transparencia */
}
.navbar-brand {
    
    padding: 5px 15px;
}
.navbar-header {
     border: 2px solid orange;
}
.texto_centro {
    align-content: center;
    border: 2px solid yellowgreen;
}

/* ********** Corpo ********** */
.corpo {
    border: 5px solid red;
    padding: 80px;
    display: table;
    width: 100%;
    text-align: center; 
    align-content: center;
}
.menu {
    border: 2px solid pink;
    align-content: center;
}
h1 {
    color: white;
    font-weight: 900;
    letter-spacing: -0.05em; /* para deixar o texto mais junto ou separado */
    margin-bottom: 50px;   
}
h2 {
    color: white;
    font-weight: 600;
    margin-bottom: 10px;      
}

#corpo-esquerdo{
    border: 2px solid blue;
    float: left;
    width: 33%;
}

#corpo-centro {
    padding: 10px;
    border: 3px solid white;
    border-radius: 20px;
}

#corpo-direito {
    border: 2px solid blue;
    float: left;
    width: 33%;
}
#barra-navegacao{
    
}

/* ********** Rodape ********** */
.rodape {
    width: 100%;
    height: 80px;
    background: black;
}

/* medias queries */
/* xs <768 */
@media screen and (max-width: 767px) {
    h1 {
        font-size: 15px;
    }
    h2 {
        font-size: 13px;
    }
    h4 {
        font-size: 10px;
    }
    #corpo-centro {
        width: 150px;
    }
    .logo {
        font-size: 15px;
    }
    
#corpo-centro {

    border: 2px solid white;
    border-radius: 20px;
}    
}

/* sm */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 35px;
        align-content: center;
    }
    h2 {
        font-size: 20px;
    }
    h4 {
        font-size: 15px;
    }
    #corpo-centro {
        width: 300px;
    }
    .logo {
        font-size: 15px;
    }   
    #corpo-centro {
        align-content: center;
    }
    .menu {
        align-content: center;
    }
}